@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: "Lobster", cursive;
  height: 200px;
  width: 100%;
  color: #FBEEF4;
}

nav img {
  margin-right: 20px;
  width: 100px;
}

@media (max-width: 450px) {
  nav {
    margin-top: 0;
    font-size: 34px;
  }

  nav img {
    width: 50px;
    margin-right: 10px;
  }
}

