@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

nav {
  margin-top: 20px;
  font-size: 4em;
  font-family: "Lobster", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100;
  color: #f4f5f8;
}

nav img {
  margin-right: 20px;
  width: 100px;
}

@media (max-width: 650px) {
  nav {
    margin-top: 0;
    font-size: 2em;
  }

  nav img {
    width: 50px;
    margin-right: 10px;
  }
}

