.col-sm {
  padding: 0 !important;
}

.mat-chip.mat-standard-chip.mat-chip-selected.chip-tiempo {
  background-color: #E8AFEE !important;
  color: #000 !important;
}

.mat-chip.mat-standard-chip.mat-chip-selected.chip-intentos {
  background-color: #CAEEAF !important;
  color: #000 !important;
}

