<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Tamaño Del Tablero </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-sm-6 form-group">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Renglones</mat-label>
            <mat-select>
              <mat-option> Hola </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 form-group">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Columnas</mat-label>
            <mat-select>
              <mat-option> Hola 2 </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-success btn-lg">
      <fa-icon [icon]="faPlay" class="mr-2"></fa-icon>
      Jugar!
    </button>
  </div>
</div>
