.card-container {
  margin-left: 20%;
  margin-right: 20%;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}

.mat-card-content {
  padding-left: 10%;
  padding-top: 20px;
  padding-right: 10%;
}

.mat-error {
  color: #e07a5f;
}

.btn-play {
  background-color: #AFEED3;
  color: #000;
}

@media (max-width: 650px) {
  .card-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}


