<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Tamaño Del Tablero </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form">
        <!-- Primer Renglon -->
        <div class="row">
          <!-- Renglones -->
          <div class="col-sm-6 form-group">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Renglones</mat-label>
              <mat-select formControlName="rows" (selectionChange)="changeRenglones()">
                <mat-option
                  *ngFor="let opt of rowOptions"
                  [value]="opt"
                  >{{opt}}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="form.get('rows').hasError('required')">
                Seleccione una opción
              </mat-error>
            </mat-form-field>
          </div>
          <!-- /Renglones -->

          <!-- Columnas -->
          <div class="col-sm-6 form-group">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Columnas</mat-label>
              <mat-select formControlName="cols" (selectionChange)="changeColumnas()">
                <mat-option
                  *ngFor="let opt of colOptions"
                  [value]="opt"
                  >{{opt}}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="form.get('cols').hasError('required')">
                Seleccione una opción
              </mat-error>
            </mat-form-field>
          </div>
          <!-- /Columnas -->
        </div>
        <!-- /Primer Renglon -->
      </form>
    </mat-card-content>
  </mat-card>

  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-play btn-lg" (click)="jugar()">
      <fa-icon [icon]="faPlay" class="mr-2"></fa-icon>
      Jugar!
    </button>
  </div>
</div>
