.card {
  border-radius: 0 !important;
}

.card:hover:not(.alert-success, .alert-warning, .alert-danger) {
  background-color: #cce5ff;
  cursor: pointer;
}

.card div.image-container {
  height: 70px;
}

.card.alert-success {
  cursor: default;
}

img {
  height: 70px;
}
