.card {
  border-radius: 0 !important;
}

.card:hover:not(.card-success, .card-shown, .card-danger) {
  background-color: #EAEEAF;
  cursor: pointer;
}

.card div.image-container {
  height: 70px;
}

.card-hidden {
  background-color: #EED3AF;
}

.card-success {
  background-color: #AFEEBE;
  cursor: normal;
}

.card-danger {
  background-color: #E47EAA;
}

.card-shown {
  background-color: #AFEEE8;
}

img {
  height: 70px;
}
