<div
  class="card animate__animated"
  [ngClass]="gameCard?.success
              ? 'animate__tada card-success'
              : gameCard?.error
              ? 'animate__shakeX card-danger'
              : gameCard?.shown
              ? 'animate__flipInY card-shown'
              : !gameCard?.shown
              ? 'animate__flipInX card-hidden'
              : 'alert-warning'"
  (click)="selectCard()"
>
  <div class="image-container d-flex justify-content-center align-items-center">
    <img
      *ngIf="gameCard?.shown"
      [src]="'assets/images/tarjetas/' + gameCard.imagen"
      alt="card-image"
    />
    <fa-icon *ngIf="!gameCard?.shown" [icon]="faSyncAlt" size="3x"></fa-icon>
  </div>
</div>
