/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: rgb(3, 10, 54);
  background: linear-gradient(
    0deg,
    rgba(3, 10, 54, 1) 0%,
    rgba(82, 96, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
